/*content*/
.content {
    background-color: palegoldenrod;
    padding: 0 25% 4rem 25%;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    border-radius: 0.5rem;
    margin-bottom: 0.25rem;
}

    .content p {
        padding-bottom: 2.77rem;
        line-height: 1.5;
        font-size: 1.5rem;
        font-family: 'Work Sans' , sans-serif;
    }
    .content .first-letter {
        float: left;
        padding-right: 1.4rem;
        font-family: 'Work Sans', serif;
        font-size: 7.44rem;
        color: black;
        line-height: 0.87;
    }
@media only screen and (max-width: 680px) {
    .content {
        padding: 0 10% 4rem 10%;
    }
}