/*content settings*/
.content {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20rem;
    background-color: lavenderblush;
    background-size: cover;
    position: relative;
    font-family: Ubuntu, sans-serif;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    border-radius: 0.5rem;
    margin-bottom: 0.25rem;
}
    /*content*/
    .content p {
        font-family: 'Cambria Math', sans-serif;
        text-align: center;
        padding-top: 1.11rem;
        align-items: center;
    }
    /*title*/
    .content h2 {
        padding: 0;
        text-align: center;
        font-family: 'Kirang Haerang'. Arial;
        font-weight: 500;
        color: saddlebrown;
        opacity: 0.75;
    }
